<h1 mat-dialog-title>Editar Informacion</h1>
<div mat-dialog-content>
    <form [formGroup]="formulario">
        <!-- Campo Apellido -->
        <mat-form-field appearance="fill">
            <mat-label>Curso</mat-label>
            <input formControlName="curso" matInput>
        </mat-form-field>
        <!-- Campo Curso -->
        <mat-form-field appearance="fill">
            <mat-label>Salon</mat-label>
            <input formControlName="salon" matInput>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cerrar()">Cerrar</button>
    <button mat-button (click)="actualizar()">Actualizar</button>
</div>
