<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img src="https://viajes.nationalgeographic.com.es/medio/2017/04/24/londres_b72fb870.jpg" alt="Foto de Londres">
                <div class="card-body">
                <h5 class="card-title">Londres</h5>
                <p class="card-text">Es la más popular de las ciudades del mundo. Historia y carácter, 
                    monumentos que son verdaderos iconos como el Big Ben o los mismísimos taxis tradicionales 
                    son ingredientes para una escapada perfecta. Sube a la London Eye, Londres solo se puede abarcar desde las alturas.
                </p>
                <a href="#" class="btn">Mas informacion</a>
                </div>
                
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img src="https://viajes.nationalgeographic.com.es/medio/2017/04/24/roma_2d72ff93.jpg" alt="Foto de Roma">
                <div class="card-body">
                <h5 class="card-title">Roma</h5>
                <p class="card-text">Es una lección de Historia para cualquier viajero.
                    Hay tanto que hacer en Roma: ir hasta el centro del Imperio Romano, 
                    ver el Coliseo y todas las ruinas arqueológicas, el Panteón, cruzar El puente Sant'Angelo, 
                    Plaza España, dejarse maravillar con las obras de arte de los Museos del Vaticano. 
                    La Basílica de San Pedro del Vaticano, además, es la atracción turística más popular de todas en Europa.
                </p>
                <a href="#" class="btn">Mas informacion</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img src="https://viajes.nationalgeographic.com.es/medio/2017/04/24/nueva-york_66d209da.jpg" alt="Foto de Nueva York">
                <div class="card-body">
                <h5 class="card-title">Nueva York</h5>
                <p class="card-text">Esta ciudad es inabarcable y tiene tantas caras que harían falta diferentes vidas para decir que se conoce bien.
                    Pasear por Central Park en otoño o primavera, ir al MoMA, la cuna del arte moderno, ver la Estatua de la Libertad, 
                    los rascacielos míticos como el Empire State Building, cruzar el Puente de Brooklyn, Little Italy, Coney Island, 
                    es solo una pequeña parte de todo lo que puedes hacer en Nueva York.
                </p>
                <a href="#" class="btn">Mas informacion</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img src="https://viajes.nationalgeographic.com.es/medio/2017/04/24/barcelona_491e8d18.jpg" alt="Foto de Barcelona">
                <div class="card-body">
                <h5 class="card-title">Barcelona</h5>
                <p class="card-text">La ciudad del Mediterráneo da la bienvenida a viajeros de todo el mundo que llegan hechizados por las formas sorprendentes de la arquitectura de Gaudí, 
                    por las calles animadas como las Ramblas, los museos variados, las tendencias más urbanitas, 
                    exposiciones, bares y restaurantes a la última. Barcelona es una ciudad cosmopolita pero aún se puede pasear como si se tratara de un pueblo, 
                    con la personalidad diferente de cada uno de sus barrios. La Sagrada Familia, el ambiente popular del Mercado de la Boquería, el Gótic, el Raval, el ambiente cultural de Gràcia, son sólo algunos imprescindibles.
                </p>
                <a href="#" class="btn">Mas informacion</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img src="https://viajes.nationalgeographic.com.es/medio/2017/04/24/paris_fa5c2ffd.jpg" alt="Foto de Paris">
                <div class="card-body">
                <h5 class="card-title">Paris</h5>
                <p class="card-text">La ciudad de la luz, del amor, 
                    la ciudad de la literatura, está llena de atracciones suficientes para una vida. 
                    Es la única ciudad que tiene dos lugares entre los diez de mayor interés turístico de Europa: 
                    la Torre Eiffel y Notre Dame. Pero, ¿qué más? Toda una clase de arte en el Museo del Louvre, 
                    callejear por sus barrios como Marais o el Barrio latino, 
                    disfrutar de la gastronomía en algunos de sus bistro, 
                    pasear por la rivera del Sena o visitar el mundo de Amélie Poulain, ¡París no se acaba nunca!
                </p>
                <a href="#" class="btn">Mas informacion</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img src="https://bolavip.com/_next/image?url=https%3A%2F%2Fbolavip.com%2F__export%2F1626702089749%2Fsites%2Fbolavip%2Fimg%2F2021%2F07%2F19%2F28_unsplash.jpg_252026622.jpg&w=1920&q=75" alt="Foto de Playa del Carmen">
                <div class="card-body">
                <h5 class="card-title">Playa del Carmen</h5>
                <p class="card-text">Combinación explosiva entre arenas blancas y la vasta historia del pueblo Maya. 
                    En Playa del Carmen se conjugan estos dos factores divinos, 
                    porque se puede retozar al sol, 
                    nadar por horas en las cálidas aguas del mar y además sumergirse en la selva para visitar templos de esa civilización arcaica.
                </p>
                <a href="#" class="btn">Mas informacion</a>
                </div>
            </div>
        </div>
    </div>
</div>