.grid-container{
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'menu   main   main   main   main   main';
}

.grid-header{
    grid-area: header ;
}

.grid-student{
    grid-area: main;
}

.principal{
    margin: 50px;
    margin-left: 570px;
    font-size: 30px;
}
