<mat-toolbar class="toolbar" *ngIf="(sesionActiva$|async)">
    <mat-toolbar-row>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" >
        <button mat-menu-item routerLink="/Cursos" >Cursos</button>
        <button mat-menu-item routerLink="/Estudiantes" *ngIf="(usuarioAdmin$ | async)">Estudiantes</button>
        <button mat-button (click)="cerrarSesion()">Cerrar Sesion</button>
      </mat-menu>
      <span appDirectivaPersonalizada>Alumnos Inscriptos</span>
      <button mat-icon-button class="btn btn-outline-dark">
        <mat-icon>person</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>